version: '3.8'

services:
  web:
    build: .
    command: python predtimes/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - redis
  
  celery:
    build: .
    command: celery -A predtimes worker -l info
    volumes:
      - .:/app
    depends_on:
      - redis
      - web

  redis:
    image: "redis:alpine"
