
services:
  web:
    build: .
    command: /app/start.sh
    volumes:
      - .:/app
    network_mode: "host"
    depends_on:
      - redis

  redis:
    image: "redis:alpine"
    network_mode: "host"
